@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  background: rgb(31, 24, 41);
  color: white;
}

.icon__animation {
  cursor: pointer;
}

.icon__animation i {
  transition: all 200ms;
}

.icon__animation:hover i {
  transform: rotate(-30deg) scale(1.4);
}
